*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
nav{
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-wrap: wrap; */
    gap: 250px;
    background-color: black;
    color: white;
    font-weight: bold;
    font-size: 20px;
    box-shadow: 2px 2px 2px white;
    text-decoration: none;
    position: sticky;
}
#logo{
    width: 50px;
    height: 50px;
    /* border-radius: 50%; */
    /* border: 2px solid white; */
    border: 2px solid white;
    z-index: 1;
}
a{
    text-decoration: none;
    color: white;
}
#navbarcontent{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
#homebutton{
    width: 120px;
    height: 40px;
    border: 1px solid lightblue;
    border-radius: 20px;
    color: lightblue;
    background-color: black;
}
.maincontainer {
    height: 100vh;
    width: 100vw;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .mainheader {
    height: 10vh;
    width: 80%;
    background-color: rgb(226, 196, 196);
    border-radius: 10px;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 10px;
    padding-top: 20px;
  }
  
  .maincontent {
    width: 80%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-top: 20px;
  }
  img {
    height: 250px;
    width: 400px;
    border-radius: 20px;
  }
  
  img:hover {
    transition: 0.5s;
    filter: grayscale();
  }
#maincontainer{
    width: 100%;
    height: 400px;
    background-color: rgb(165, 182, 188);
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    width: 800px;
    height: 300px;
    /* background-color: rgb(131, 161, 170); */
    /* border: 2px solid gray; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 20px;
}
.containerpara2{
    font-size: 30px;
    font-weight: bolder;
    /* font-family: Arial, Helvetica, sans-serif; */
    color: white;
    
}
.homebutton:hover{
    background-color: lightblue;
    color: black;
}

#contact{
    width: 100%;
    height: 400px;
    background-color: black;
}
#contactfirst{
    width: 1200px;
    height:400px;
    display: flex;
    /* justify-content: space-around; */
    justify-content: left;
    gap: 100px;
    align-items: center;
    margin-left: 150px;
}
.contactfirst1{
    width: 400px;
    height: 300px;
    
    border-radius: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    margin-top:10px ;
    background-color:black;
    color: white;
}

.contactpara{
    font-size: 18px;
    font-weight: bolder;
}
.contactpara1{
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    
}

